html,
body {
  height: 100%;
  font-size: 14px;
  background: #fff;
  color: #1c1c1c;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 针对Firefox浏览器 */
input[type="number"] {
    -moz-appearance: textfield;
}

/* 针对IE浏览器（虽然IE已经逐渐淘汰，但这里还是提供一下） */
input[type="number"]::-ms-clear {
    display: none;
}
/* 针对所有滚动条 */
::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */
  height: 4px; /* 滚动条高度 */
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #fff; /* 轨道背景色 */
  border-radius: 10px; /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* 滑块颜色 */
  border-radius: 10px; /* 滑块圆角 */
}

/* 滑块在悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停颜色 */
}

/*上传组件 */
.ivu-upload-list-file:hover {
  background-color: #27313e;
}

.ivu-menu-horizontal.ivu-menu-light:after {
  height: 0 !important;
}
.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu{
  padding: 0 10px !important;
}

.ivu-select-dropdown {
  border-radius: 0 !important;
}
/* 轻提示 */
.ivu-message-notice-content {
  background: #324368;
  color: #a3bbcc;
}

/*排序小箭头样式重置*/
.ivu-table-sort i.on {
  color: #03C59E;
}

.ivu-table-sort i:hover {
  color: #03C59E;
}

.ivu-modal-confirm-head-icon {
  font-size: 24px;
}

.ivu-modal-confirm-body {
  color: #666666;
  padding-left: 0;
}

.ivu-modal-confirm-head-title {
  color: #333232;
  margin-left: 5px;
}

.ivu-modal-confirm-footer {
  padding-top: 10px;
  border-top: 1px solid #27313e;
}
/*radio样式重置*/
.ivu-radio-checked .ivu-radio-inner {
  border-color: #03C59E;
}

.ivu-radio-checked:hover {
  .ivu-radio-inner {
    border-color: #03C59E;
  }
}

.ivu-radio-inner:after {
  background: #03C59E;
}

.ivu-switch-checked {
  border-color: #03C59E;
  background-color: #03C59E;
}

.ivu-switch:focus {
  box-shadow: none;
}

.ivu-radio-focus {
  box-shadow: none;
}
/*table组件样式重置*/
.ivu-table-wrapper {
  border: none;
}

.ivu-table-wrapper > .ivu-spin-fix {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-color: #fff;
}

.ivu-spin-fix {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-color: #fff;
}

/* 重置分页器颜色 */
.ivu-page-next,
.ivu-page-prev {
  background-color: #ffffff;
}

.ivu-page-item {
  background-color: #ffffff;
  border-color: #ececec;
}

.ivu-page-item-jump-next,
.ivu-page-item-jump-prev,
.ivu-page-next,
.ivu-page-prev {
  border-color: #ececec;
}

.ivu-page-item-active {
  font-weight: bold;
}

.ivu-page-next:hover,
.ivu-page-prev:hover {
  border-color: #03C59E;
}

.ivu-page-next:hover a,
.ivu-page-prev:hover a {
  color: #03C59E;
}

.ivu-page-item-jump-prev a,
.ivu-page-item-jump-next a {
  color: #666;
}

.ivu-page-item-jump-prev a:hover,
.ivu-page-item-jump-next a:hover {
  color: #03C59E;
}

.ivu-page-item:hover {
  border-color: #03C59E;
}

.ivu-page-item:hover a {
  color: #03C59E;
}

.ivu-page-item.ivu-page-item-active a {
  color: #03C59E;
}

.ivu-page-disabled {
  a {
    cursor: not-allowed;

    .ivu-icon {
      cursor: not-allowed;
    }
  }
}

.ivu-input-number-focused {
  box-shadow: none;
}

.ivu-input-number:focus {
  box-shadow: none;
}
